@model IEnumerable<CarsApp.Models.Cars.CarsIndexViewModel>
<div class="taust">
    @{
        int rowNumber = 1;
    }

    <div class="h1">
        Cars
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            <input type="text" id="searchInput" oninput="filterTable()" class="form-control" placeholder="Filter" style="width:70%" />
        </div>

        <div class="col-md-6" style="text-align: right">
            <a asp-action="create" asp-controller="cars" type="submit" class="btn btn-primary">Add a new car to the list</a>
        </div>
    </div>

    <br/>

    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th>Logo</th>
                    <th>Navigation</th>
                </tr>
            </thead>
            <tbody id="carTableBody">
                @foreach (var cars in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@cars.Make</td>
                        <td>@cars.Model</td>
                        <td>
                            @if (System.IO.File.Exists($"wwwroot/Logos/{cars.Make}.png"))
                            {
                                <img style="background-color:rgba(211,255,254,.3); padding:10px; border-radius:10px; width:60px;" src="/Logos/@(cars.Make).png" alt="Image" />
                            }
                        </td>
                        <td>
                            <a asp-action="details" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-info">Details</a>
                            <a asp-action="update" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-primary">Update</a>
                            <a asp-action="delete" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>

                    rowNumber += 1;
                }
            </tbody>
        </table>
    </form>

    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("carTableBody");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[1]; // Index of the first column to filter
                td2 = tr[i].getElementsByTagName("td")[2]; // Index of the second column to filter

                if (td1 || td2) {
                    txtValue1 = td1 ? td1.textContent || td1.innerText : "";
                    txtValue2 = td2 ? td2.textContent || td2.innerText : "";
                    var combinedTxtValue = txtValue1 + txtValue2;

                    if (combinedTxtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</div>